
<div class="signin">
  <form class="wrapper" action="/jurisprudence-edit/{{jurisprudence.id}}" method="POST" id="form">
    <p> Hello {{user.username}}, wanna edit the jurisprudence to the database?</p>
    <h2>Modify the content of a decision</h2>
    <input type="text" value="{{jurisprudence.author}}" name="author">
    <input type="text" value="{{jurisprudence.content}}" name="content">
    <input type="date" value="{{jurisprudence.parsedDate}}" name="date">
    <br>
    <input type="submit">
  </form>

</div>
